<div class="row">
    <div class="col-lg-5 col-md-8">
        <form action="/search" method="get" data-v-action="/search" class="search-form" >
			<input type="hidden" name="route" value="search">
            <div class="input-group">
                <input type="search" name="search" class="form-control bg-transparent shadow-none rounded-0" placeholder="Search here">
                <div class="input-group-append">
                    <button class="btn" type="submit">
                        <span class="fas fa-search"></span>
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>
