<!-- start of sidenav -->
<aside data-v-save-global="index.html,aside"><div class="sidenav position-sticky d-flex flex-column justify-content-between">
	<div data-v-component-site>	
		<a class="navbar-brand logo" href="/" data-v-url-params='{"host":"www.*.*"}'><span class="visually-hidden">Logo</span>
		   <img src="images/logo.png" alt="Site logo dark" loading="lazy" class="logo-default-dark" data-v-site-logo-dark>
		   <!--
		   <img src="images/logo.png" alt="Site logo" loading="lazy" class="logo-default" data-v-site-logo>
		   <img src="images/logo.png" alt="Site logo sticky" loading="lazy" class="logo-sticky" data-v-site-logo-sticky> 
		   <img src="images/logo.png" alt="Site logo dark sticky" loading="lazy" class="logo-default-dark-sticky" data-v-site-logo-dark-sticky>
		   -->
		</a>
	</div>


	@@include('./top-menu.html')
	<!--
    <div class="navbar navbar-dark my-4 p-0 font-primary" data-v-component-menu="header" data-v-slug="main-menu">
        <ul class="navbar-nav w-100" data-v-menu-items>
            <li class="nav-item @@home">
                <a class="nav-link text-white px-0 pt-0" href="index.html">Home</a>
            </li>
            <li class="nav-item @@about">
                <a class="nav-link text-white px-0" href="about.html">About</a>
            </li>
            <li class="nav-item @@contact">
                <a class="nav-link text-white px-0" href="contact.html">Contact</a>
            </li>
            <li class="nav-item @@pages accordion">
                <div id="drop-menu" class="drop-menu collapse">
                    <a class="d-block @@home2" href="index-2.html">Home 2</a>
                    <a class="d-block @@category" href="category.html">Category</a>
                    <a class="d-block @@postDetails" href="post-details.html">Post Details</a>
                    <a class="d-block @@pnp" href="privacy.html">Privacy &amp; Policy</a>
                </div>
                <a class="nav-link text-white" href="#!" role="button" data-toggle="collapse" data-target="#drop-menu" aria-expanded="false" aria-controls="drop-menu">Pages</a>
            </li>
            <li class="nav-item mt-3">
				
				<div data-v-component-language>
						<form method="post" enctype="multipart/form-data" id="form-language">

							<select class="custom-select bg-transparent rounded-0 text-white shadow-none" id="pick-lang">
								<option data-v-language data-v-language-code value="en"><span data-v-language-name>English</span></option>
								<option data-v-language data-v-language-code value="fr"><span data-v-language-name>French</span></option>
							</select>
				
						</form>
				</div>	
				
            </li>
        </ul>
    </div>
    -->
    <!-- end of navbar -->

    <ul class="list-inline nml-2">
        <li class="list-inline-item">
            <a href="#!" class="text-white text-red-onHover pr-2">
                <span class="fab fa-twitter"></span>
            </a>
        </li>
        <li class="list-inline-item">
            <a href="#!" class="text-white text-red-onHover p-2">
                <span class="fab fa-facebook-f"></span>
            </a>
        </li>
        <li class="list-inline-item">
            <a href="#!" class="text-white text-red-onHover p-2">
                <span class="fab fa-instagram"></span>
            </a>
        </li>
        <li class="list-inline-item">
            <a href="#!" class="text-white text-red-onHover p-2">
                <span class="fab fa-linkedin-in"></span>
            </a>
        </li>
    </ul>
    <!-- end of social-links -->
</div></aside>
<!-- end of sidenav -->
